<div class="login">
  <form action="/login" method="post">
    <h1>Home Portal</h1>
    <input type="text" name="username" placeholder="user">
    <input type="password" name="password" placeholder="pasword">
    <input type="submit" value="LogIn"/>
  </form>
</div>
